# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.log

# Django
db.sqlite3
.env
*.pot
*.pyc

# Static & Media
/media/

# IDE ve Editor Ayarları
.vscode/
.idea/
*.swp

# OS dosyaları
.DS_Store
Thumbs.db
