{% extends "layout.html" %}

{% block title %}
<title>Hakkımda</title>
{% endblock title %}

{% block content %}

<div class="hero">

  <div class="hero-text">
    <h1>Hakkımda</h1>
    <p>
    Ben bilgisayar mühendisliği bölümü öğrencisiyim.
    Kod yazmayı severim. Bir şeyin nasıl çalıştığını görmek hoşuma gider.
    Astronomi, fizik, psikoloji gibi bilimlere ilgim var.
    Yeni şeyler öğrenmeyi severim, bazen sadece okumak bile yeter.
    Kendi projelerimi geliştiriyorum.
    Hem düşünerek hem deneyerek ilerlemeye çalışıyorum.
    Bu sayfa, ilgilendiğim şeyleri bir araya getirmek için var.
    </p>
  </div>

  <div class="triangle"></div>
  
</div>

{% endblock content %}